<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>finance Bank!</display-name>
    <distributable/>
    <!-- Context Configuration locations for Spring XML files -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <!-- precompiled jsp mappings -->
    <!-- Define the default CSS Theme -->
    <context-param>
        <param-name>csstheme</param-name>
        <param-value>default</param-value>
    </context-param>
    <!-- Define the basename for a resource bundle for I18N -->
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>ApplicationResources</param-value>
    </context-param>
    <!-- Fallback locale if no bundles found for browser's preferred locale -->
    <!-- Force a single locale using param-name 'javax.servlet.jsp.jstl.fmt.locale' -->
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.fallbackLocale</param-name>
        <param-value>es</param-value>
    </context-param>
    <!--context-param>
        <param-name>com.sun.faces.verifyObjects</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.validateXml</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param-->
    <!--filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter-->
    <!--filter para Filtrar todas las codificaciones en utf-8 que es independiente de las PCs y recomendada por la W3C -->
    
    <context-param>
        <param-name>username</param-name>
        <param-value>financebank</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>UfFfYvXs</param-value>
    </context-param>
    <filter>
        <filter-name>FiltroUTF8</filter-name>
        <filter-class>org.finance.bank.util.FiltroUTF8</filter-class>
        <init-param>
            <param-name>requestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>FiltroUTF8</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--fin filter -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SNodo</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SNodo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SActualizarModulos</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SActualizarModulos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SDetallePersona</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SDetallePersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SDepositoRetiro</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SDepositoRetiro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SActualizarPersona</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SActualizarPersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sbuscarpersona</servlet-name>
        <servlet-class>org.finance.bank.Servlet.Sbuscarpersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sprocesar</servlet-name>
        <servlet-class>org.finance.bank.Servlet.Sprocesar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SNuevaCuenta</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SNuevaCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SDepositoRetiro2</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SDepositoRetiro2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SRegistrarDepositoRetiro</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SRegistrarDepositoRetiro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SBuscarCuenta</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SBuscarCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SGrabarMonto</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SGrabarMonto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadFichero</servlet-name>
        <servlet-class>org.finance.bank.util.uploadFichero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>STransferirEntreCajas</servlet-name>
        <servlet-class>org.finance.bank.Servlet.STransferirEntreCajas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCerrarCaja</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SCerrarCaja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SGuardarTasa</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SGuardarTasa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SGenerarNuevaCuenta</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SGenerarNuevaCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCobroGiro</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SCobroGiro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SAdminCatalogo</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SAdminCatalogo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SAdminCatalogoDetalle</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SAdminCatalogoDetalle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SGuardarMoneda</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SGuardarMoneda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SMostrarCaja</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SMostrarCaja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SFicheroup</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SFicheroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SAddPatrimonio</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SAddPatrimonio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SPorRespaldo</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SPorRespaldo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SAgregarMfilial</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SAgregarMfilial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCerrarFilial</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SCerrarFilial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SBuscarTasa</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SBuscarTasa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SIngresarCatalogo</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SIngresarCatalogo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SActualizarCatalogo</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SActualizarCatalogo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SListarProvincia</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SListarProvincia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SListarDistrito</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SListarDistrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SAutorizarUsuario</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SAutorizarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SRegistrarCambio</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SRegistrarCambio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SSumarCalcular</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SSumarCalcular</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SBuscarSaldoCuenta</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SBuscarSaldoCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SExtornarOperacion</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SExtornarOperacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SActivarMonedas</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SActivarMonedas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SEliminarMonedas</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SEliminarMonedas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SDenominacionMonedas</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SDenominacionMonedas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SSubirArchivo</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SSubirArchivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SUploadArchivo</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SUploadArchivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SRetiroOtro</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SRetiroOtro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCalcularPF</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SCalcularPF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SExtornoOp</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SExtornoOp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCambioMoneda</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SCambioMoneda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SBuscarOperacion</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SBuscarOperacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SBuscarOperacionCaja</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SBuscarOperacionCaja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SReciboGiro</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SReciboGiro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SActualizarCuentas</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SActualizarCuentas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SMostrarPersona</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SMostrarPersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SReciboCobroGiro</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SReciboCobroGiro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SGrabarSuma</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SGrabarSuma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SRecargarSuma</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SRecargarSuma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SBuscarOp</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SBuscarOp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SEliminarCatalogo</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SEliminarCatalogo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SMantenerCuenta</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SMantenerCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SResetCapital</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SResetCapital</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SGenerarNuevaCuenta_1</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SGenerarNuevaCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SReciboTransferencia</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SReciboTransferencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SRecepcion</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SRecepcion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SReciboRecepcion</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SReciboRecepcion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SBuscarOCaja</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SBuscarOCaja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SAddUser</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SAddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SReportAdmin</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SReportAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SUpdateMDisp</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SUpdateMDisp</servlet-class>
        <init-param>
            <param-name>shid</param-name>
            <param-value>12346*</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>SMostrarOp</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SMostrarOp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SRePrint</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SRePrint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SPrestamo</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SPrestamo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCobranza</servlet-name>
        <servlet-class>org.finance.bank.Servlet.SCobranza</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SNodo</servlet-name>
        <url-pattern>/SNodo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SActualizarModulos</servlet-name>
        <url-pattern>/SActualizarModulos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SDetallePersona</servlet-name>
        <url-pattern>/SDetallePersona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SDepositoRetiro</servlet-name>
        <url-pattern>/SDepositoRetiro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SActualizarPersona</servlet-name>
        <url-pattern>/SActualizarPersona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sbuscarpersona</servlet-name>
        <url-pattern>/Sbuscarpersona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sprocesar</servlet-name>
        <url-pattern>/Sprocesar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SNuevaCuenta</servlet-name>
        <url-pattern>/SNuevaCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SDepositoRetiro2</servlet-name>
        <url-pattern>/SDepositoRetiro2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SRegistrarDepositoRetiro</servlet-name>
        <url-pattern>/SRegistrarDepositoRetiro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SBuscarCuenta</servlet-name>
        <url-pattern>/SBuscarCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SGrabarMonto</servlet-name>
        <url-pattern>/SGrabarMonto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadFichero</servlet-name>
        <url-pattern>/uploadFichero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>STransferirEntreCajas</servlet-name>
        <url-pattern>/STransferirEntreCajas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCerrarCaja</servlet-name>
        <url-pattern>/SCerrarCaja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SGuardarTasa</servlet-name>
        <url-pattern>/SGuardarTasa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SGenerarNuevaCuenta</servlet-name>
        <url-pattern>/SGenerarNuevaCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCobroGiro</servlet-name>
        <url-pattern>/SCobroGiro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SAdminCatalogo</servlet-name>
        <url-pattern>/SAdminCatalogo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SAdminCatalogoDetalle</servlet-name>
        <url-pattern>/SAdminCatalogoDetalle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SGuardarMoneda</servlet-name>
        <url-pattern>/SGuardarMoneda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SMostrarCaja</servlet-name>
        <url-pattern>/SMostrarCaja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SFicheroup</servlet-name>
        <url-pattern>/SFicheroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SAddPatrimonio</servlet-name>
        <url-pattern>/SAddPatrimonio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SPorRespaldo</servlet-name>
        <url-pattern>/SPorRespaldo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SAgregarMfilial</servlet-name>
        <url-pattern>/SAgregarMfilial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCerrarFilial</servlet-name>
        <url-pattern>/SCerrarFilial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SIngresarCatalogo</servlet-name>
        <url-pattern>/SIngresarCatalogo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SActualizarCatalogo</servlet-name>
        <url-pattern>/SActualizarCatalogo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SListarProvincia</servlet-name>
        <url-pattern>/SListarProvincia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SListarDistrito</servlet-name>
        <url-pattern>/SListarDistrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SBuscarTasa</servlet-name>
        <url-pattern>/SBuscarTasa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SAutorizarUsuario</servlet-name>
        <url-pattern>/SAutorizarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SRegistrarCambio</servlet-name>
        <url-pattern>/SRegistrarCambio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SSumarCalcular</servlet-name>
        <url-pattern>/SSumarCalcular</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SBuscarSaldoCuenta</servlet-name>
        <url-pattern>/SBuscarSaldoCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SExtornarOperacion</servlet-name>
        <url-pattern>/SExtornarOperacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SActivarMonedas</servlet-name>
        <url-pattern>/SActivarMonedas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SEliminarMonedas</servlet-name>
        <url-pattern>/SEliminarMonedas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SDenominacionMonedas</servlet-name>
        <url-pattern>/SDenominacionMonedas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SSubirArchivo</servlet-name>
        <url-pattern>/SSubirArchivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SUploadArchivo</servlet-name>
        <url-pattern>/SUploadArchivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCalcularPF</servlet-name>
        <url-pattern>/SCalcularPF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SExtornoOp</servlet-name>
        <url-pattern>/SExtornoOp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SBuscarOperacion</servlet-name>
        <url-pattern>/SBuscarOperacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SRetiroOtro</servlet-name>
        <url-pattern>/SRetiroOtro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCambioMoneda</servlet-name>
        <url-pattern>/SCambioMoneda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SBuscarOperacionCaja</servlet-name>
        <url-pattern>/SBuscarOperacionCaja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SReciboGiro</servlet-name>
        <url-pattern>/SReciboGiro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SActualizarCuentas</servlet-name>
        <url-pattern>/SActualizarCuentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SMostrarPersona</servlet-name>
        <url-pattern>/SMostrarPersona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SBuscarOp</servlet-name>
        <url-pattern>/SBuscarOp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SReciboCobroGiro</servlet-name>
        <url-pattern>/SReciboCobroGiro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SGrabarSuma</servlet-name>
        <url-pattern>/SGrabarSuma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SRecargarSuma</servlet-name>
        <url-pattern>/SRecargarSuma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SEliminarCatalogo</servlet-name>
        <url-pattern>/SEliminarCatalogo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SMantenerCuenta</servlet-name>
        <url-pattern>/SMantenerCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SResetCapital</servlet-name>
        <url-pattern>/SResetCapital</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SGenerarNuevaCuenta_1</servlet-name>
        <url-pattern>/SGenerarNuevaCuenta_1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SReciboTransferencia</servlet-name>
        <url-pattern>/SReciboTransferencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SRecepcion</servlet-name>
        <url-pattern>/SRecepcion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SReciboRecepcion</servlet-name>
        <url-pattern>/SReciboRecepcion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SBuscarOCaja</servlet-name>
        <url-pattern>/SBuscarOCaja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SAddUser</servlet-name>
        <url-pattern>/SAddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SReportAdmin</servlet-name>
        <url-pattern>/SReportAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SUpdateMDisp</servlet-name>
        <url-pattern>/SUpdateMDisp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SMostrarOp</servlet-name>
        <url-pattern>/SMostrarOp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SRePrint</servlet-name>
        <url-pattern>/SRePrint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SPrestamo</servlet-name>
        <url-pattern>/SPrestamo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCobranza</servlet-name>
        <url-pattern>/SCobranza</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <location>/index.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
</web-app>
